{% block content %}
  <h2>요청사항</h2>
  
  <form method="post" action="/board">
    <textarea name="message" rows="4" cols="50" placeholder="요청사항을 작성해주세요"></textarea>
    <br>
    <input type="submit" value="게시" onclick="alert('게시 완료!')">
  </form>

  <hr>

  {% for post in posts %}
    <p><strong>{{ post['username'] }}</strong> 님, {{ post['timestamp'] }}에 작성:</p>
    <p>{{ post['message'] }}</p>
    
    {% if post.edit %}
      <a href="{{ url_for('edit_message', message_id=post.id) }}">수정</a>

      <form method="post" action="{{ url_for('delete_message', message_id=post['id']) }}">
        <input type="submit" value="삭제">
      </form>
    {% endif %}

    <hr>
  {% endfor %}
{% endblock %}
